/* Main css */
@font-face{font-family:"icomoon";src:url('../fonts/icomoon.eot?2zltg8');src:url('../fonts/icomoon.eot?#iefix2zltg8') format("embedded-opentype"),url('../fonts/icomoon.woff?2zltg8') format("woff"),url('../fonts/icomoon.ttf?2zltg8') format("truetype"),url('../fonts/icomoon.svg?2zltg8#icomoon') format("svg");font-weight:normal;font-style:normal}

body  {
    font-family: 'HelveticaNeueW01-45Ligh','HelveticaNeueW01-Thin',"Helvetica Neue",Helvetica,"Open Sans",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.44;
}
h1, h2, h3, h4, h5, h6 {font-family: Helvetica,"Open Sans";line-height: 1.2em; margin: 0 0 1.2em;}
h3, h4 {font-size: 17px; line-height: 19px}
.container{max-width:1400px; width:100%; position:relative;}
a {color:#000;}
.wrapper{padding:0; margin:0px; width:100%; height:auto; position:relative;}
.logo {display: none;}

/*--- Top Header and Full Banner Css ---*/
header {position:relative; width:100%; padding:0; margin:0;}
header .topLink{min-height:30px; font-size:20px; font-weight:300; text-align:right; vertical-align:top;}
header .topLink a{display:inline-block; margin-left:5px; color:#000;}
header .topLink a:hover{color:#198e4a; text-decoration:none;}
header .topLink .fa{font-size:22px;}
header .topLink .fa.fa-youtube-play{font-size:25px;}
header .logo img{max-width:100%; height: auto;}
.container header {min-height:0;padding:4px 0; }
.headBanner{width:100%; text-align:center; margin: auto;}
.headBanner img {height: 100%;max-width: inherit;width: 100%;}
.tabNav{display:none;}
.menu-grid{background-color:rgba(255,255,255,0.5);}

ul, ol {margin: 0;padding: 0;list-style: none;}
.breadcrumbs {margin: 10px 0; padding-bottom: 10px; border-bottom: 1px dotted #babcbc;text-transform: uppercase; overflow: hidden;}
.breadcrumbs li {float: left;padding-left: 17px;position: relative;}
.breadcrumbs li:first-child {padding-left: 0;}
.breadcrumbs li::before {left: 6px;position: absolute;top: 6px; content: "\e601"; color: #939596;font-size: 7px;font-family: "icomoon";speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.breadcrumbs li:first-child::before { display: none;}
.breadcrumbs a {font-weight: normal;color: #2c3334; text-transform: uppercase}

.limit1400 {max-width: 1400px; margin: 0 auto;}
.limit1400 blockquote::after, #content .limit1400  blockquote::before {background: none}
.limit1400 blockquote {width:75%; border-left:0px !important; margin: 24px auto !important}
.limit1400 form input[type="text"] {background: #fafaf8;}
.limit1400 figure {background: #fff; height: 160px; border: 1px solid #9fa1a2}
.limit1400 .csc-left-float .csc-textpic {height: 190px; overflow-y: hidden;}
.limit1400 figure figcaption {font-weight: 600; color: #999;}
.dummy-table {display: block; width: 100%; margin: 0 !important; padding: 0 !important}
.dummy-table-row {height: 100%; display: table-row; margin: 0; padding: 0;}
.dummy-cell {display:block; float: left; vertical-align: middle; padding: 0 !important; height: 100%;}
.dummy-cell h1, .dummy-cell h2, .dummy-cell h3 {padding-left: 20px; padding-right: 20px; text-transform: inherit !important}
.dummy-cell .csc-vcenter .csc-textpic.csc-textpic-intext-left-nowrap .csc-textpic-text,.dummy-cell .csc-vcenter .csc-textpic .csc-textpic-intext-right-nowrap .csc-textpic-text {position: relative;}
.dummy-cell .csc-vcenter .csc-textpic.csc-textpic-intext-left-nowrap .csc-textpic-text h1, .dummy-cell .csc-vcenter .csc-textpic.csc-textpic-intext-left-nowrap .csc-textpic-text h2 { margin-top: 50% !important; transform: translateY(-100%);}
.dummy-cell .csc-vcenter .csc-textpic.csc-textpic-intext-right-nowrap .csc-textpic-text h1, .dummy-cell .csc-vcenter .csc-textpic.csc-textpic-intext-right-nowrap .csc-textpic-text h2 { margin-top: 50% !important; transform: translateY(-100%);}
.dummy-cell p {padding: 15px !important;}
.dummy-cell > div {height: 100%}
.dummy-cell .csc-textpic-imagewrap {margin-right: 0px !important}


footer .separator {margin-top: 20px;}
footer .container { margin-top: 20px;}
footer .footer-social h4 { margin-bottom: 25px;text-transform: uppercase;font-weight: bold}
footer .footer-links h3,footer .footer-links h4 {text-transform: uppercase; font-weight: bold}
footer .footer-links .col-sm-4, footer .footer-links .col-xs-6 {margin-bottom: 20px}
footer .footer-links a {font-weight: 200;}
footer .footer-links a:hover {color: #999; text-decoration: underline;}
.clearfix {clear:both; display: block}

.black {color: #000}
.white {color:#fff}
.bgblack{background: #000; color: #fff}
.bgwhite{background: #fff; color: #000}
.bggrey{background: #f4f3f1; color: #000}
.bgbeige{background: #c7c0b5; color: #fff}
.bgorange{background: #fea111; color:#fff}

.bgblack a, .bgorange a {color: #c8c1b6}
.bgblack a:hover, .bgorange a:hover {color:#e7a133}
.bgwhite a, .bggrey a, .bgbeige a {color: #a89e8c}
.bgwhite a:hover, .bggrey a:hover, .bgbeige a:hover  {color:#7a7366}

.white a {color: #fff;}
.white a:hover {color: #4c493f}
.black a { color: #a89e8c;}
.black a:hover { color: #7a7366;}

.separator {border: 1px solid #000; margin: 0px;}

.visible-big {
    display:none!important;
}
.visible-mid {
    display:none!important;
}
.visible-small {
    display:block!important;
}

.banner-media {position: relative;background-size: cover;background-repeat: no-repeat;background-position: top; width: 100%;}
.videobanner {display: inline-block;vertical-align: baseline;bottom: 0;width: 100% !important; height: auto !important;}
.videoWrapper iframe {background: #000;}

.owl-item .item .img-holder {margin: 0!important}
.owl-item .item .text, .banner-media .text {bottom: 30px; left: 0; width: 100%; font-size: 32px; line-height: 46px;}
.owl-item .item .text .container, .banner-media .text .container {text-align: center;}
.owl-item .item .top-left .fluid-container, .owl-item .item .bottom-left .fluid-container, .banner-media .top-left .fluid-container, .banner-media .bottom-left .fluid-container {text-align: left;}
.owl-item .item .top-right .fluid-container, .owl-item .item .bottom-right .fluid-container, .banner-media .top-right .fluid-container, .banner-media .bottom-right .fluid-container {text-align: right;}
.owl-item .item .text h1, .owl-item .item .text h2, .banner-media .text h1, .banner-media .text h2 {background: none; text-align: center; text-transform: inherit!important}

.owl-item .item .text .fluid-container p span, .banner-media .text .fluid-container p span { color: #fff; background: #2c3334; background: rgba(44,51,52,.4); display: inline-block; padding: 3px 15px 4px;}
.owl-item .item .text.top-left,.owl-item .item .text.top-center, .banner-media .text.top-left, .banner-media .text.top-center {bottom:inherit; top: 30px;}
.owl-item .item .text.top-right {bottom:inherit; top: 30px; left: inherit; right: 0px}
.owl-item .item .center-center, .banner-media .center-center {height: 50%;left:0;bottom: 0;}
.owl-item .item .top-left.text h1, .owl-item .item .bottom-left.text h1, .owl-item .item .top-left.text h2, .owl-item .item .bottom-left.text h2, .banner-media .top-left.text h1, .banner-media .top-left.text h2, .banner-media .bottom-left.text h1, .banner-media .bottom-left.text h2{text-align: left;margin-left: 30px}
.owl-item .item .top-right.text h1, .owl-item .item .bottom-right.text h1, .owl-item .item .top-right.text h2, .owl-item .item .bottom-right.text h2, .banner-media .top-right.text h1, .banner-media .top-right.text h2, .banner-media .bottom-right.text h1, .bottom-right.text h2{text-align: right;margin-right: 30px}
.owl-item .item .center-center .fluid-container, .owl-item .item .center-center h1,.owl-item .item .center-center h2, .banner-media .center-center .fluid-container, .banner-media .center-center h1, .banner-media .center-center h2{text-align: center; transform: translateY(-50%)}
.owl-item .item .text h1.black, .owl-item .item .text h2.black, .banner-media .text h1.black, .banner-media .text h2.black{color: #000;}
.owl-item .item .bottom-center h1, .owl-item .item .top-center h1, .owl-item .item .top-center h2, .owl-item .item .bottom-center h2,.banner-media .bottom-center h1, .banner-media .top-center h1, .banner-media .top-center h2, .banner-media .bottom-center h2 {display: block}
.owl-item .item .text.top-center h1, .owl-item .item .text.top-center h2, .owl-item .item .text.bottom-center h1, .owl-item .item .text.bottom-center h2,.banner-media .text.top-center h1, .banner-media .text.top-center h2, .banner-media .text.bottom-center h1, .banner-media .text.bottom-center h2{margin: 0px auto!important; padding: 8px;}

.share {background-image: url(../images/sprite.png);background-repeat: no-repeat;width: 160px;height: 103px;float: left;overflow: hidden;cursor: pointer;display: inline-block;position: relative;}
.share.fb {background-position: 0 0;width: 51px;height: 51px;float: none;overflow: hidden;display: inline-block;margin-right: 15px;}
.share.fb:hover{background-position: -160px 0;}
.share.yt {background-position: 0 -330px;width: 51px;height: 51px;float: none;overflow: hidden;display: inline-block;margin-right: 15px;}
.share.yt:hover{background-position: -160px -330px;}
.share.pinterest {background-position: 0 -110px;width: 51px;height: 51px;float: none;overflow: hidden;display: inline-block;margin-right: 15px;}
.share.pinterest:hover{background-position: -160px -110px;}
.share.instagram {background-position: 0 -990px;width: 51px;height: 51px;float: none;overflow: hidden;display: inline-block;margin-right: 15px;}
.share.instagram:hover{background-position: -160px -990px;}

.csc-header-alignment-center {text-align: center}
.csc-header-alignment-right {text-align: right}
.videoWrapper {width: 100%; overflow-x: hidden}
.videoWrapper iframe {width: 99vw;height: 56.20vw; max-width: 100%}

img {max-width: 100%; height: auto}

@media (min-width:768px) {
    h3, h4 {font-size: 19px; line-height: 21px}
    footer .separator {margin-top: 30px;}
    footer .container { margin-top: 30px;}
    .armabove {position: absolute; z-index: 1; width: 100%;}
    .armbelow {position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 0; margin-top: 0px;}
    .owl-item .item .text, .banner-media .text {position: absolute;}
    .owl-item .item .center-center p, .banner-media  .center-center p {transform: translateY(-115%);}
    .armabove.text-middle-left {position: absolute; top: 50%; transform: translateY(-50%);}
    .armabove.text-bottom-left {position: absolute; bottom: 0px;}
    .armabove.text-middle-right {position: absolute; top: 50%; transform: translateY(-50%); text-align: right;}
    .armabove.text-bottom-right {position: absolute; bottom: 0px; text-align: right;}
    .insidepos {position: absolute; width: 90%;}
    .armfullwidth .container {width: 100%!important}
    .heading {padding: 30px 20px;}
    .padding60 {padding: 20px 40px}
    .visible-small {
        display:none !important;
    }
    .visible-mid {
        display:block !important;
    }
    .limit1400 .col-sm-6 {text-align: left}
    .csc-left-float {margin:0 12px 25px 12px}
    .csc-leftpadding {padding-left: 15px;}
    .csc-rightpadding {padding-right: 15px;}
    .dummy-table {display: table; width: 100%; margin: 0 !important; padding: 0 !important; position: relative}
    .dummy-cell {display:table-cell; float: none; vertical-align: middle; height: 100%;}
    .dummy-cell .csc-vcenter .csc-textpic.csc-textpic-intext-left-nowrap .csc-textpic-text {position: absolute; left: 0; top: 0; height: 100%}
    .dummy-cell .csc-vcenter .csc-textpic.csc-textpic-intext-right-nowrap .csc-textpic-text {position: absolute; right: 0; top: 0; height: 100%; text-align: right}

}
@media(min-width:999px) {
    header{display:block;}
    .tabNav{display:none;}
    .logo {display: block; position: absolute; right: 10px; z-index: 10;}
}
@media (min-width:1200px) {
    header {position: fixed; z-index: 100;}
    .menu-grid{background-color:rgba(255,255,255,0.8);}
    h3, h4 {font-size: 21px; line-height: 23px}
    footer .separator {margin-top: 40px;}
    footer .container { margin-top: 40px;}
    footer .footer-links .col-sm-4, footer .footer-links .col-xs-6 {margin-bottom: 40px}
    .armfullwidth .container {width: 100%!important}
    .fullwidth-img {width: 100vw; margin-left: -29px; margin-right: 0px; max-width: 1400px}
    .owl-item .item .text.top-left,.owl-item .item .text.top-center,.owl-item .item .text.top-right, .banner-media .text.top-left,.banner-media .text.top-center,.banner-media .text.top-right {top: 50px;}
    .owl-item .item .text.bottom-left,.owl-item .item .text.bottom-center,.owl-item .item .text.bottom-right, .banner-media .text.bottom-left,.banner-media .text.bottom-center,.banner-media .text.bottom-right {bottom: 50px;}
    .owl-item .item .top-left.text h1, .owl-item .item .bottom-left.text h1,.owl-item .item .top-left.text h2, .owl-item .item .bottom-left.text h2, .banner-media .top-left.text h1, .banner-media .bottom-left.text h1,.banner-media .top-left.text h2, .banner-media .bottom-left.text h2 {margin-left: 50px}
    .owl-item .item .top-right.text h1, .owl-item .item .bottom-right.text h1, .owl-item .item .top-right.text h2, .owl-item .item .bottom-right.text h2, .banner-media .top-right.text h1, .banner-media .bottom-right.text h1, .banner-media .top-right.text h2, .banner-media .bottom-right.text h2{margin-right: 50px}
    .owl-item .item .text h1, .banner-media .text h1 {font-size: 56px; max-width: 95%}
    .owl-item .item .text h2, .banner-media .text h2 {font-size: 48px;}
    .owl-item .item .text.center-center h1, .banner-media .text.center-center h1, .owl-item .item .text.center-center h2, .banner-media .text.center-center h2 {margin-left: auto; margin-right: auto}
}
@media (min-width:1440px) {
    .armfullwidth .container { width: 1400px; }
    .fullwidth-img {width: 100%; margin-left: 0px; margin-right: 0px;}
    .visible-mid {
        display:none !important;
    }
    .visible-big {
        display:block!important;
    }
    .dark-theme .navigation #nav {
        margin: 0 45px 0 112px;
    }
    .dummy-cell .csc-vcenter .csc-textpic.csc-textpic-intext-left-nowrap .csc-textpic-text h1, .dummy-cell .csc-vcenter .csc-textpic.csc-textpic-intext-left-nowrap .csc-textpic-text h2 { margin-top: 50% !important; transform: none;}
    .dummy-cell .csc-vcenter .csc-textpic.csc-textpic-intext-right-nowrap .csc-textpic-text h1, .dummy-cell .csc-vcenter .csc-textpic.csc-textpic-intext-right-nowrap .csc-textpic-text h2 { margin-top: 50% !important; transform: none;}
    .csc-left-float {margin: 0 20px 40px 20px;}
    
}
@media screen and (max-width:998px) {
    header{display:none;}
    .tabNav{display:block;}
}
@media (max-width: 768px) {
    .owl-item .item .text h1, .owl-item .item .text h2 , .banner-media .text h1, .banner-media .text h2 {
        color: #000;
    }
    .armabove.text-middle-left {
        padding: 20px 0;
    }
    .dummy-cell.rhs {
        border-bottom: 1px dotted black;
    }
}
@media (max-width: 600px) {
    .dummy-cell {width: 100%;}
}