<div class="header-block">
    <div class="container">
        <!-- page logo -->
        <div class="logo"><f:cObject typoscriptObjectPath="lib.logo" /></div>
        <nav class="navigation">
            <a href="/#" class="nav-opener"><span>Menu</span></a>
            <div class="container">
                <f:cObject typoscriptObjectPath="lib.menu" />
                <div class="mobile-block">
                    
                </div>
            </div>
            
        </nav>
    </div>
</div>